@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  color: white;
}

#overlayImage {
  position: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-size: 100% 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

#festive {
  position: fixed;

  height: 100vh;
  width: 100vw;
  opacity: 20%;
  top: 0;
  left: 0;
  z-index: 150;
  background-image: url("../images/optional/snow.gif");
}

.pageTitle {
  height: 10vh;
  font-size: 10vh;
  overflow: hidden;
  text-align: center;
  font-family: "Bebas Neue";
}

.pageContent {
  height: 87vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menuItemCell {
  background-color: rgba(128, 128, 128, 0.137);
  font-size: 2.5vh;
  padding-left: 25px;
  padding-right: 25px;
}

.topMenuItemCell {
  display: flex;
  justify-content: space-between;
}

.leftMenu {
  overflow: hidden;
  font-size: 2.6vh;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
}

.rightMenu {
  text-align: right;
  overflow: hidden;
  font-family: "Roboto Slab", serif;
  white-space: pre-wrap;
  font-weight: 600;
}

.bottomMenuItemCell {
  overflow: hidden;
  font-size: 2vh;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

.outStock {
  color: yellow;
}
.out {
  text-decoration: line-through;
}

.subtitle {
  font-size: 7vh;
  text-align: center;
  overflow: hidden;
  height: 7vh;
  font-family: "Bebas Neue";
}

.italics {
  text-align: center;
  font-style: italic;
  font-size: 2.5vh;
  font-family: "Open Sans", sans-serif;
  padding-left: 30px;
  padding-right: 30px;
}

table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-collapse: collapse;
}

tr:first-child td {
  border-bottom: 1vw solid white;
  border-right: none;
  border-left: none;
}

.tableleft {
  border-right: 1vw solid white;
}

.tableright {
  border-left: 1vw solid white;
}

td {
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: center;
  width: 30vw;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  font-size: 2.6vh;
}
