@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #08070e;
  overflow-x: hidden;
}

.alert {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
.alert-success {
  background-color: rgb(117, 189, 126);
}
.alert-danger {
  background-color: rgb(228, 133, 104);
}

.menuPageContent {
  width: 100vw;
}

tr {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  padding-left: 5px;
  background-color: #2b2b2b;
  margin: auto;
  text-align: left;
  font-weight: 300;
  font-style: italic;
  color: white;
}

h1 {
  text-align: center;
  color: white;
}

table {
  margin-bottom: 25px;
  border-bottom: 2px solid #3a3a3a;
}

.head {
  background-color: #f35c5c;
  color: white;
  text-align: left;
  font-weight: 600;
  font-style: normal;
}

td {
  width: 22%;
}

.buttons {
  width: 34%;
  padding-left: 4%;
}

tr:nth-child(even) {
  background-color: #3a3a3a;
  color: white;
}

.edit,
.delete,
.inStock,
.outStock {
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-right: 5px;
}

.updating {
  background-color: rgba(146, 146, 146, 0.377);
  border-radius: 10px;
}

.controlPanel {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.controlPanelSection {
  display: flex;
  background-color: #28272dab;
  padding: 20px;
  width: 350px;
  border-radius: 20px;
  flex-direction: column;
  margin-bottom: 20px;
}

.controlPanelSection h3 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 15px;
  color: white;
}

.controlPanelSection label {
  color: rgb(173, 173, 173);
}

.controlPanelSection input {
  width: 100%;
  padding: 10px 5px;
  margin: 8px 0;
  font-size: 18px;
  background: none;
  border: none;
  outline: none;
  color: white;

  border-bottom: 2px solid grey;
}

.controlPanelSection input.colorSelector {
  text-decoration: none;
  width: 100%;
  height: 100px;
  background-color: white;
  padding: 0 0;
}

.controlPanelSection button {
  padding: 10px;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: black;
  cursor: pointer;
}

@media only screen and (max-width: 885px) {
  .edit,
  .delete,
  .inStock,
  .outStock {
    margin-right: 0px;
    margin-left: 0px;
    padding: 10px 4px;
  }

  .edit span,
  .delete span,
  .inStock span,
  .outStock span {
    display: none;
  }

  .edit:after {
    content: "✏️";
  }
  .delete:after {
    content: "❌";
  }
  .inStock:after {
    content: "IN";
    padding: 10px 7px;
  }
  .outStock:after {
    content: "OUT";
  }

  td {
    width: 22%;
  }

  .buttons {
    width: 34%;
    padding-left: 4%;
  }
}

.edit {
  background-color: rgb(255, 208, 0);
  color: black;
}

.delete {
  background-color: rgb(224, 71, 24);
  color: white;
}

.inStock {
  background-color: rgb(27, 156, 44);
  color: white;
}

.outStock {
  background-color: rgb(87, 87, 87);
  color: white;
}

.previewBoard,
.return {
  padding: 10px;
  background-color: rgb(240, 77, 77);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-decoration: none;
  color: white;
  transition: 0.5s;
  margin-bottom: 5px;
}

.previewBoard:hover,
.return:hover {
  padding: 30px;
}

.return {
  margin-left: 20px;
}

.previewBoard {
  margin-left: 10px;
}
